<!-- Rooms, docs, containers listing -->
  <div class="column">
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <div class="caption">
          <h3>
            {{ room.name }}
          </h3>
          <hr>
          <br>
          <p>
            {{ room.contents }}
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <div class="caption">
          <h3>
            {{ document.name }}
          </h3>
          <hr>
          <br>
          <p>
            {{ document.contents }}
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <div class="caption">
          <h3>
            {{ container.name }}
          </h3>
          <hr>
          <br>
          <p>
            {{ container.contents }}
          </p>
        </div>
      </div>
    </div>
  </div>
