<div class="pull-right column">
  <i class="fa fa-files-o fa-lg"></i>&nbsp;&nbsp;
  <i class="fa fa-clipboard fa-lg"></i>&nbsp;&nbsp;
  <i class="fa fa-cog fa-lg"></i>&nbsp;&nbsp;
  <i class="fa fa-key fa-lg"></i>&nbsp;&nbsp;
  <i class="fa fa-link fa-lg"></i>&nbsp;&nbsp;
  <i class="fa fa-trash-o fa-lg" ng-click="delete()"></i>&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;
  <i style="cursor: pointer;" class="fa fa-plus fa-lg" ng-click="createdoc()"></i>&nbsp;&nbsp;
  <i style="cursor: pointer;" class="fa fa-folder fa-lg" ng-click="createroom()"></i>
</div>
