<div class="dropdown pull-right">
	<button class="btn btn-default dropdown-toggle" data-toggle="dropdown" id="dropdownMenu1" type="button">Options<span class="caret"></span></button>
	<ul class="dropdown-menu">
		<li><a href="#">option 1 <i class="clickable fa fa-files-o fa-lg"></i></a></li>
		<li><a href="#">option 2 <i class="clickable fa fa-clipboard fa-lg"></i></a></li>
		<li><a href="#">option 3 <i class="clickable fa fa-cog fa-lg"></i></a></li>
		<li><a href="#">option 4 <i class="clickable fa fa-key fa-lg"></i></a></li>
		<li><a href="#">option 5 <i class="clickable fa fa-link fa-lg"></i></a></li></li>
		<li><a href="#" ng-click="delete()">Delete <i class="clickable fa fa-trash-o fa-lg"></i></a></li>
		<li><a href="#" ng-click="createdoc()">Create Doc <i class="clickable fa fa-plus fa-lg"></i></a></li>
		<li><a href="#" ng-click="createroom()">Create Room <i class="clickable fa fa-folder fa-lg"></i></a></li>
	</ul>
</div>