<!-- Unsupported mime type -->
<div class="col-sm-12 col-md-12" ng-if="mimeTypeHandler() == 'unknown'">
  <div class="alert alert-warning" role="alert">
    <p class="text-center">This document can't be viewed in browser window.</p>
  </div>
</div>

<!-- image/* -->
<div class="col-sm-12 col-md-12" ng-if="mimeTypeHandler() == 'image'">
  <img ng-src="{{dataSrc | trusted}}" style="max-width: 500px; max-height: 500px" />
</div>

<!-- application/pdf -->
<div class="col-sm-12 col-md-12" style="text-align: center" ng-if="mimeTypeHandler() == 'pdf'">
  <div class="row" style="text-align: center" style="text-align: center"style="text-align: center" >
    <div class="btn-group">
      <button class="btn" ng-click="gotoPage(1)">|&lt;</button>
      <button class="btn" ng-click="prevPage()">&lt;</button>
      <button class="btn" ng-click="nextPage()">&gt;</button>
      <button class="btn" ng-click="gotoPage(totalPages)">&gt;|</button>
    </div>
  </div>
  <!-- <div class="row">
    <span class="label" ng-show="totalPages">{{currentPage}}/{{totalPages}}</span>
  </div> -->
  <div class="row" >
    <pdfviewer ng-src="{{pdfURL | trusted}}" on-page-load='pageLoaded(page,total)' id="viewer" load-progress='loadProgress(loaded, total, state)'></pdfview
er>
  </div>
</div>

<!-- audio/* -->
<div class="col-sm-12 col-md-12" ng-if="mimeTypeHandler() == 'audio'">
  <div>
  	<button ng-click="audio.paused ? audio.play() : audio.pause()">Pause</button>
  	<button ng-click="audio.restart()">Stop</button>
  	<button ng-click="audio.muting = !audio.muting">Mute</button>
   	<label>Current Time</label>
  	<input class='form-control' type=text ng-model='audio.currentTime'>
  	<label>Volume</label>
  	<input class='form-control' type=range min=0 max=1 step=0.01 ng-model='audio.volume'>
  </div>
</div>

<!-- video/* -->
<div class="col-sm-12 col-md-12" ng-if="mimeTypeHandler() == 'video'">
  <div class="video" ng-video ng-model="interface">
    <section vi-controls class="controls">
      <span ng-click="interface.controls.play()" title="Play" class="glyphicon glyphicon-play"></span>
      <span ng-click="interface.controls.pause()" title="Pause" class="glyphicon glyphicon-pause"></span>
    </section>
  </div>
</div>

<!-- text -->
<div class="col-sm-12 col-md-12" ng-if="mimeTypeHandler() == 'text'">
  <text-angular ng-model="data"></text-angular>
</div>
