<!-- list view || room view -->
<div class="column" ng-controller="workspaceCtrl">
    <div class="col-sm-4 col-md-3" ng-repeat="item in items">
      <div class="thumbnail">
        <div class="caption">
          <h3>
            {{ item.name }}
          </h3>
          <hr>
          <br>
          <p>
            {{ item.description }}
          </p>
        </div>
      </div>
    </div>
</div>


<!-- 

<div class="column">
  <div class="col-sm-6 col-md-4">
    <h1>{{document.title}}</h1><br>

    <div text-angular ng-model="textData"></div>

    <img ng-src="" alt="" />

    <button ng-click='audio.paused ? audio.play() : audio.pause()'>Pause</button>
    <button ng-click='audio.restart()'>Stop</button>
    <button ng-click='audio.muting = !audio.muting'>Mute</button>

    <label>Current Time</label>
    <input class='form-control' type=text ng-model='audio.currentTime'>
    <label>Volume</label>
    <input class='form-control' type=range min=0 max=1 step=0.01 ng-model='audio.volume'>

    <section class="video" ng-video ng-model="videoModel">
      <section vi-controls class="controls">
        <span ng-click="interface.controls.play()" title="Play" class="glyphicon glyphicon-play"></span>
        <span ng-click="interface.controls.pause()" title="Pause" class="glyphicon glyphicon-pause"></span>
      </section>
    </section>
  </div>
</div>

-->
