<!-- Unsupported mime type -->
<div class="col-sm-10 col-md-10" ng-if="mimeTypeHandler() === 'unknown'">
  <div class="alert alert-warning" role="alert">
    This document can't be viewed in browser window. Download the file
    <a target="_self" download="{{dataSrc}}" ng-href="{{dataSrc}}" class="alert-link">here.</a>
  </div>
</div>

<!-- image/* -->
<div class="col-sm-10 col-md-10" ng-if="mimeTypeHandler() === 'image'">
  <img ng-src="{{dataSrc}}" style="max-width: 500px; max-height: 500px" />
</div>

<!-- application/pdf -->
<div class="col-sm-10 col-md-10" ng-if="mimeTypeHandler() === 'pdf'">
  <pdf-viewer
  delegate-handle="pdf-container"
  url= {{data}}
  scale="1"
  if-toolbar="true"
  ></pdf-viewer>
</div>

<!-- audio/* -->
<div class="col-sm-10 col-md-10" ng-if="mimeTypeHandler() === 'audio'">
  <div>
  	<button ng-click="audio.paused ? audio.play() : audio.pause()">Pause</button>
  	<button ng-click="audio.restart()">Stop</button>
  	<button ng-click="audio.muting = !audio.muting">Mute</button>
   	<label>Current Time</label>
  	<input class='form-control' type=text ng-model='audio.currentTime'>
  	<label>Volume</label>
  	<input class='form-control' type=range min=0 max=1 step=0.01 ng-model='audio.volume'>
  </div>
</div>

<!-- video/* -->
<div class="col-sm-10 col-md-10" ng-if="mimeTypeHandler() === 'video'">
  <div class="video" ng-video ng-model="interface">
    <section vi-controls class="controls">
      <span ng-click="interface.controls.play()" title="Play" class="glyphicon glyphicon-play"></span>
      <span ng-click="interface.controls.pause()" title="Pause" class="glyphicon glyphicon-pause"></span>
    </section>
  </div>
</div>

<!-- text -->
<div class="col-sm-10 col-md-10" ng-if="mimeTypeHandler() === 'text'">
  <text-angular ng-model="data"></text-angular>
</div>
