<!-- Breadcrumb, workarea switch, options -->
  <div class="row">
    <div class="col-xs-3 col-md-3">
      <ol class="breadcrumb">
        <li>
          <a href="active">Level 1</a>
        </li>
        <li>
          <a href="#">Level 2</a>
        </li>
      </ol>
    </div>
    <div class="col-xs-3 col-md-3">
      <ul class="nav nav-tabs">
        <li>
          <a ui-sref="workarea.groups">Groups</a>
        </li>
        <li class="active">
          <a ui-sref="workarea.user">Private</a>
        </li>
      </ul>
    </div>
    <div class="col-xs-3 col-md-3">
      <div ui-view="options"></div>
    </div>
    <div class="col-xs-2 col-md-2">
      <div class="dropdown pull-right">
        <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" id="dropdownMenu1" type="button">Sort by <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li>
            <a href="#" tabindex="-1">Title</a>
          </li>
          <li>
            <a href="#" tabindex="-1">Author</a>
          </li>
          <li>
            <a href="#" tabindex="-1">Date</a>
          </li>
          <li>
            <a href="#" tabindex="-1">Doc type</a>
          </li>
        </ul>&nbsp;
        <i class="fa fa-chevron-up"></i>
        <i class="fa fa-chevron-down"></i>
      </div>
    </div>
  </div>
</div><br>
  <! -- for loading workspace -->
<div class="container">

    <div ui-view="groupsList"></div> 
    <div ui-view="workspace"></div><br>
    <div ui-view="comments"></div>
  
</div>  
