<!-- Breadcrumb, workarea switch, options -->
<div class="pull-left">
  <div class="row">
    <div class="col-xs-3">
      <ol class="breadcrumb">
        <li>
          <a href="active">Level 1</a>
        </li>
        <li>
          <a href="#">Level 2</a>
        </li>
      </ol>
    </div>
    <div class="col-xs-3">
      <ul class="nav nav-tabs">
        <li class="active">
          <a ui-sref=".shared" href="#">Shared</a>
        </li>
        <li>
          <a ui-sref=".private" href="#">Private</a>
        </li>
      </ul>
    </div>
    <div class="col-xs-4">
      <span class="pull-right">
      <i class="fa fa-files-o fa-lg"></i>&nbsp;&nbsp;
      <i class="fa fa-clipboard fa-lg"></i>&nbsp;&nbsp;
      <i class="fa fa-cog fa-lg"></i>&nbsp;&nbsp;
      <i class="fa fa-key fa-lg"></i>&nbsp;&nbsp;
      <i class="fa fa-link fa-lg"></i>&nbsp;&nbsp;
      <i class="fa fa-trash-o fa-lg"></i>&nbsp;&nbsp;
      </span>
    </div>
    <div class="col-xs-2 col-md-2">
      <div class="dropdown pull-right">
        <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" id="dropdownMenu1" type="button">Sort by <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li>
            <a href="#" tabindex="-1">Title</a>
          </li>
          <li>
            <a href="#" tabindex="-1">Author</a>
          </li>
          <li>
            <a href="#" tabindex="-1">Date</a>
          </li>
          <li>
            <a href="#" tabindex="-1">Doc type</a>
          </li>
        </ul>&nbsp;
        <i class="fa fa-chevron-up"></i>
        <i class="fa fa-chevron-down"></i>
      </div>
    </div>
  </div>

  <div ui-view></div>
</div>
