<!-- Breadcrumb, workarea switch, options -->
<div class="container">
  <div class="row">
    <div class="col-xs-3 col-md-3">
      <ol class="breadcrumb">
        <li ng-repeat="item in navigationTrack | orderBy:id:reverse">
          <a href="">{{item}}</a>
        </li>
      </ol>
    </div>
    <div class="col-xs-3 col-md-3">
      <ul class="nav nav-tabs">
        <tabset justified="true">
          <tab heading="Private" ui-sref="workarea.list"></tab>
          <tab heading="Groups" ui-sref="workarea.groups"></tab>
        </tabset>
      </ul>
    </div>
    <div class="col-xs-3 col-md-3">
      <div ui-view="options"></div>
    </div>
    <div class="col-xs-2 col-md-2">
      <div class="dropdown pull-right">
        <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" id="dropdownMenu1" type="button">Sort by <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li>
            <a href="#" tabindex="-1">Title</a>
          </li>
          <li>
            <a href="#" tabindex="-1">Author</a>
          </li>
          <li>
            <a href="#" tabindex="-1">Date</a>
          </li>
          <li>
            <a href="#" tabindex="-1">Doc type</a>
          </li>
        </ul>&nbsp;
      </div>
    </div>
  </div>
</div><br>
<!-- for loading workspace -->
<div class="container">
  <div ui-view="groupsList"></div>
  <div ui-view="workspaceList"></div><br>
  <div ui-view="workspaceDetailed"></div>
  <hr>
</div>
<br>
<div class="container">
  <div ui-view="comments"></div>
</div>
